---
layout: default
title: Home

---
<head> 
    <link rel="stylesheet" href="/assets/css/custom-styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/znl5vww.css">
</head>

<meta name="description" content="A journal on data analytics, machine learning and data visualisation." />


<div class="wrapper">

    <div id="all-posts">
        <div id="main-header"> 
            <div id="main-text-block">
                <h1 id="intro-block">
                    <!--
                    <span class="purple-text">Making</span> <span class="blue-text">sense</span> <span class="purple-text">of <br/> 
                        a</span> <span class="blue-text">fast-evolving</span> <br/>
                        <span class="purple-text">world</span>
                    -->
                    <span class="-text" style="font-size: 22px;">many words,</span><span class="-text" style="font-size: 22px;"> </span> <br/>
                    <span class="red-text" style="font-size: 24px;">heaps of data</span><span class="red-text" style="font-size: 24px;"></span> <span class="red-text" style="font-size: 18px;"></span> <br/>
                    & <span class="-text" style="font-size: 22px;">some charts</span ><br/>
                    

                </h1>
                <h3> <span class="-text">A journal on data, humans <br/>& anything in between </span> </h3>
            </div>
        </div>

        {% for post in site.posts %}
        {% if post.featured %}
        <div class="each-post">
            <div class="index-container">
                    <a href="{{ post.url }}" title="{{ post.title }}">
                        <div class="post-index-title">
                             <p>{{ post.title }} </p>
                             <p class="pin"> <img src="assets/images/star.png"/> 
                                <span class="pintooltip">Featured</span>
                            </p>
                        </div>
                        <div class='index-image-wrapper'>
                            <div class = "post-index-image">
                                <img  src="assets/images/posts/{{post.image}}" alt=""/>
                            </div>
                        </div>
                        <h4 class="index-date">{{ post.date | date_to_string }} </h4>
                    </a>
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}"><div class="post-snippet">{{ post.summary }}</div> </a>
            <!-- <a href="{{ site.baseurl }}{{ post.url }}">Read more</a> -->
        </div>
        {% endif %}
        {% endfor %}     

        {% for post in site.posts %}
        {% unless post.featured %}
        <div class="each-post">
            <div class="index-container">
                    <a href="{{ post.url }}" title="{{ post.title }}">
                        <div class="post-index-title">
                             <p> {{ post.title }} </p>
                        </div>
                        <div class='index-image-wrapper'>
                            <div class = "post-index-image">
                                <img src="assets/images/posts/{{post.image}}" alt=""/>
                            </div>
                        </div>
                        <h4 class="index-date">{{ post.date | date_to_string }} </h4>
                    </a>
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}"><div class="post-snippet">{{ post.summary }}</div> </a>
            <!-- <a href="{{ site.baseurl }}{{ post.url }}">Read more</a> -->
        </div>
        {% endunless %}
        {% endfor %}      
          

    </div>

    <!--
	<ul class="posts">

      {% for post in site.posts %}
      <img src="images/posts/{{post.image}}" alt="image"/>

	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
      {% endfor %}
    -->
      

</div>