---
layout: default
title: Home
---
<head> 
    <link rel="stylesheet" href="/assets/css/custom-styles.css">
</head>

<div class="wrapper">
    <div id="main-header"> 
        <div id="main-text-block">
            <h1 id="intro-block">
                Making sense of a tumultuous world
            </h1>
            <h3>A personal journal on data, humans and anything in between</h3>
        </div>
    </div>


    <div id="all-posts">
        {% for post in site.posts %}
        <div class="each-post">
            <div class="index-container">
                    <a href="{{ post.url }}" title="{{ post.title }}">
                        <div class="post-index-title">
                            {{ post.title }}
                        </div>
                        <div class='index-image-wrapper'>
                        <div class = "post-index-image">
                            <img src="assets/images/posts/{{post.image}}" alt="image"/>
                        </div>
                        </div>
                    </a>
            </div>
            <h4 class="index-date">{{ post.date | date_to_string }} </h4>

        </div>
        {% endfor %}      
          

    </div>

    <!--
	<ul class="posts">

      {% for post in site.posts %}
      <img src="images/posts/{{post.image}}" alt="image"/>

	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
      {% endfor %}
    -->
      

</div>