---
layout: default
title: Home

---
<head> 
    <link rel="stylesheet" href="/assets/css/custom-styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/znl5vww.css">
</head>

<div class="wrapper">



    <div id="all-posts">
        <div id="main-header"> 
            <div id="main-text-block">
                <h1 id="intro-block">
                    <span class="purple-text">Making</span> <span class="blue-text">sense</span> <span class="purple-text">of <br/> 
                        a</span> <span class="blue-text">fast-evolving</span> <br/>
                        <span class="purple-text">world</span>
                </h1>
                <h3> <span class="purple-text">A journal on data, humans <br/>& anything in between </span> </h3>
            </div>
        </div>

        {% for post in site.posts %}
        <div class="each-post">
            <div class="index-container">
                    <a href="{{ post.url }}" title="{{ post.title }}">
                        <div class="post-index-title">
                             <p> {{ post.title }} </p>
                        </div>
                        <div class='index-image-wrapper'>
                        <div class = "post-index-image">
                            <img src="assets/images/posts/{{post.image}}" alt="image"/>
                        </div>
                        </div>
                        <h4 class="index-date">{{ post.date | date_to_string }} </h4>

                    </a>
            </div>

        </div>
        {% endfor %}      
          

    </div>

    <!--
	<ul class="posts">

      {% for post in site.posts %}
      <img src="images/posts/{{post.image}}" alt="image"/>

	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
      {% endfor %}
    -->
      

</div>