#main-header {
    position:relative;
    color: rgb(95, 94, 94);
    width: 100%;
    height: 180px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 0.5ex;
}

#main-text-block {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#main-header h1 {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 40px;
}


#jumbotron-header {
    position:relative;
    background-color: #1a0600;
    width: 100%;
    height: 300px;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: 60px;
}
    


.title-block {
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
}

.title-block div {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.post-title {
    font-size: 42px;
}

.subtitle {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
}

#all-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    min-width: 300px; 
}

#all-post::after {
    content: "";
    display: table;
    clear: both;
}

.each-post {
    max-width: 45%;
    margin: 10px;
    min-width: 300px; 

}

.index-container {
    position: relative;
    width: 100%;

}

.post-index-title{
    color: white;
    font-size: 18px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}


.post-index-image {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.index-date {
    color: rgb(104, 103, 103);
}