.whole-post {
    overflow-x: scroll;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }

 .PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
    font-family: Termina, Helvetica, sans-serif;
    font-style: normal;
  }
  
  .PageNavigation a {
    display: block;
    width: 40%;
    margin: 1em 0;
  }
  
  .PageNavigation .next {
    text-align: right;
    float: right;
  }

  .PageNavigation .prev {
    text-align: left;
    float: left;
  }

  .tableauPlaceholder {
      float: left !important;
      width: 1000px !important;
      overflow: scroll !important;
  }

 

  .image-caption {
      text-align: center !important;
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
  }