.whole-post {
    overflow-x: scroll;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }

 .PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
    font-family: Termina, Helvetica, sans-serif;
    font-style: normal;
  }
  
  .PageNavigation a {
    display: block;
    width: 40%;
    margin: 1em 0;
  }
  
  .PageNavigation .next {
    text-align: right;
    float: right;
  }

  .PageNavigation .prev {
    text-align: left;
    float: left;
  }

  .tableauPlaceholder {
      float: left !important;
      overflow: scroll !important;
  }

  .post-image-container {
    display: flex;
    justify-content: center;
  }

  .image-caption {
      text-align: center !important;
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
  }

  /*Related post style */
  .rect {
    border-top: 1px solid rgba(59, 63, 59, 0.9);
    padding-top: 10px;
    border-bottom: 1px solid rgba(59, 63, 59, 0.9);
    padding-bottom: 20px;
    margin:0 auto;
  }

  .rect h3 {
    margin: 0 auto;
  }

  .rect {
    font-weight: normal;
    color: black;
  }
  .rel a {
      width: 100%;
      display: inline-block;
      color: black !important;
      padding-top: 10px;
      opacity: 0.8;
      font-size: 14px;
      font-family: Termina, Helvetica, sans-serif;
      font-weight: 300;
  }

  .rel hover {
      opacity: 1;    
  }