<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head> 
    <link rel="stylesheet" href="/assets/css/custom-styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/znl5vww.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="padding-top: 0px">
        {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

</html>